/* Main grid voor de body */
body {
    background-color:#f0f0f0;
    font-family: sans-serif;
    margin: 0;
}

/* 5.25 Ampersand opdracht */
@font-face {
    font-family: Ampersand;
    src: local('Baskerville-Italic'),
    local('GoudyOldStyleT-Italic'),
    local('Palatino-Italic'),
    local('BookAntiqua-Italic');
    unicode-range: U+26;
}

/* button styling */
body > section button, .login + body button {
    width: 100%;
    padding: 1em 0;
    margin: 0;
    border: 0;
    border-radius: 0.5em;
    background: linear-gradient(to right, #f857a6 0%,#ff5858 100%);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.login + body button {
    margin: 1em 0 0 0;
}

input[type="checkbox"] {
    position: absolute;
    clip: rect(0,0,0,0);
}

input[type="checkbox"] + label::before {
    content: '\a0';
    display: inline-block;
    vertical-align: .1em;
    width: .8em;
    height: .8em;
    margin-right: .2em;
    border-radius: .2em;
    background: silver;
    text-indent: .15em;
    line-height: .65;
}

input[type="checkbox"]:checked + label::before {
    content: '\2713';
    background: yellowgreen;
}

body > section button:hover, .login + body button:hover, body > section button:focus, .login + body button:focus {
    filter: invert(1);
    -webkit-transition: .3s -webkit-filter ease-in-out;
    -moz-transition: .3s -moz-filter ease-in-out;
    -moz-transition: .3s filter ease-in-out;
    -ms-transition: .3s -ms-filter ease-in-out;
    -o-transition: .3s -o-filter ease-in-out;
    transition: .3s filter ease-in-out, .3s -webkit-filter ease-in-out;
}

/* FIRST PAGE - LOGIN */
.login + body main {
    height: 100vh;
    width: 100vw;
    background: url("osx1.jpg");
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.login + body form {
    padding: 3em;
    background-color: #fff;
    width: 25vw;
    min-width: 20em;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login + body form input:nth-child(3), .login + body form input:nth-child(5) {
    padding: 1em;
    width: calc(100% - (2em + 4px));
    margin: 0 0 1em;
}

.login + body form h1 {
    margin-top: 0;
}

/* SECOND PAGE - CONTENT */
/* Header menu  */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    @media (max-width: 700px) {
        header nav {
            flex-flow: column;
        }   
    }

h1 {
    font-family: Ampersand, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #ff5858;
    transition: 0.3s color ease-in-out;
}

a:hover, a:focus {
    color: #d12626;
}

/* h1 buiten de main */
body > h1 {
    margin: 0;
    text-align: center;
    padding: 1.5em 0;
}

/*   main content */
article, header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header {
    grid-column: 1 / span 2;
    background: linear-gradient(to right, #2b5876 0%,#4e4376 100%);
}

main section:first-child article {
    background: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
    max-height: 22em;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* transition voor focus & hover states op de article elements */
    main article, main a {
        transition: all 0.3s ease;
    }

main article a, main article a:visited, main article h1, main article p  {
    color: #fff;
}

main article h1 {
    font-size: 1.5em;
}

main article :nth-child(2) {
    padding: 1rem;
    margin: 0;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    height: 3em;
    transform: translateY(0);
}

/*  6.32 content hover */
main article:hover h1, main a:focus article h1 {
    transform: translateY(-2em);
}

main article:hover p, main a:focus article p{
    transform: translateY(0);
}

main section:first-child article:hover::before, main section:first-child a:focus article::before {
    filter: brightness(0);
}

main section:first-child article:hover, main section:first-child a:focus {
    transform: scale(1.05) rotate(1deg);
}

main article :nth-child(3) {
    margin: 0;
    transform: translateY(3em);
    height: 3em;
    bottom: 0;
    position: absolute;
    transition: all 0.3s;
    text-align: center;
    width: 100%;
}

main article::before {
    content: '';
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(to bottom, rgba(135,135,135,0.36) 0%, rgba(135,135,135,0.35) 0%, rgba(0,0,0,0.35) 100%);
    /* background: rgba(0, 0, 0, 0.500); */
    position: absolute;
    transition: all 0.3s;
}

/* Modal - container (bevat ook 6.32) */
dialog {
    visibility: hidden;
    position: fixed;
    min-width: 20em;
    max-width: 30em;
    top: 50%; left: 50%; right: 50%;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 50vmax rgba(0,0,0,.8);
    padding: 1em;
    opacity: 0;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-out;
    z-index: 999;
    display: flex;
    flex-flow: column;
}

dialog:target {
    visibility: visible;
    opacity: 1;
}

dialog h1 {
    margin: 0.5rem 0;
}

dialog progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1em;
    margin-bottom: 1em;
}

progress[value]::-webkit-progress-bar {
    background-color: #fafafa;
    border-radius: .3em;
}

progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #3ca55c 0%,#b5ac49 100%);
    border-radius: 5px;
}

dialog ol {
    padding: 0 0 1em 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    list-style-position: inside;
}

dialog ol li {
    flex-grow: 1;
    text-align: center;
}

/* Modal - img */
dialog img {
    width: calc(100% + 2em);
    margin: 0 -1em;
}

/* Modal - close icon */
dialog > a:first-of-type {
    position: absolute;
    display: flex;
    right: 0rem;
    top: 0rem;
    font-size: 1.5em;
    border: 1em solid transparent;
    background-clip: content-box;
}

dialog > a:first-of-type:hover, dialog > a:first-of-type:focus {
    transform: rotate(180deg);
}

/* dialog emoji's fieldset */
dialog fieldset {
    border: none;
    margin: 0;
    padding: 1.5em 0 0 0;
}

dialog fieldset label span, dialog fieldset legend {
    display: none;
}

dialog fieldset input[type="radio"] {
    position: absolute;
	z-index: -1;
	opacity: 0;
}

dialog label {
    width: 25%;
    float: left;
    position: relative;
    height: 4em;
    cursor: pointer;
}

dialog label svg {
    margin: auto;
    display: block;
    max-width: 3em;
}

dialog input[type="radio"]:checked + label > svg, dialog fieldset input[type="radio"]:focus + label > svg, dialog label:hover > svg, dialog label:focus > svg {
    transform: scale(1.25);
    border: 2px solid red;
    border-radius: 50px;
}

/* nav */
header nav:first-of-type a, header nav:first-of-type {
    color: #fff
}

header nav:first-of-type h1 {
    margin: 0;
    padding: 0 1em;
}

    @media (max-width: 700px) {
        header nav:first-of-type h1 {
            padding: 1em 1em 0 1em;
        }
    }

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav > ul {
    display: flex;
    width: 60%;
    min-width: 20em;
    text-align: center;
}
    @media (max-width: 675px) {
        nav > ul {
            width: 80%;
        }   
    }

header nav ul li ul {
    position: absolute;
    width: 100%;
    z-index: 999;
}

header nav ul li ul li {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 0.5em;
}

header nav ul li ul li:first-child {
    background: linear-gradient(to right, #7474BF 0%,#348AC7 100%);
}

header nav ul li ul li:nth-child(2) {
    background: linear-gradient(to right, #06beb6 0%,#48b1bf 100%);
}

header nav ul li ul li:nth-child(3) {
    background: hsl(270, 100%, 25%);
    background-image: 
        linear-gradient(90deg, rgb(78, 19, 172) 11px, transparent 0),
        linear-gradient(90deg, rgb(0, 40, 101) 11px, transparent 0),
        linear-gradient(90deg, rgb(0, 119, 193) 11px, transparent 0);
    background-size: 41px 100%, 61px 100%, 83px 100%;
}

header nav > ul > li {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

header nav ul li a {
    display: block;
    padding: 1.5em 0;
    transition: all 0.5s;
    width: 100%;
}

header nav ul li a:focus, nav ul li a:hover {
    background-color: rgba(0,0,0,.4);
    transition: 0.3s background-color ease-in-out;
}

ul li ul li a, ul li form {
    display: none;
    visibility: hidden;
}
 
ul li:focus-within ul li a,
ul li:hover ul li a {
    display: inline-block;
    visibility: visible;
    position: relative;
    width: 100%;
}

/* main grid */
main section:first-child {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(17.5em, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    padding: 0 1em 5em 1em;
}

main > a {
    display: block;
}

section > svg {
    max-width: 20px;
}

body > form {
    background: blue;
}

/* secondary grid  */
main section:nth-child(2) {
    display: flex;
    flex-flow: row wrap;    
}

main section:nth-child(2) a {
    display: block;
}

main section:nth-child(2) figure {
    position: relative;
    margin: auto;
    overflow: hidden;
    max-width: 50vw;
    max-height: 45em;
    min-width: 30em;
}

    @media (max-width: 959px) {
        main section:nth-child(2) figure {
            max-width: 100vw;
        }   
    }

main section:nth-child(2) figure > a::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    transition: background .3s ease;
}

main section:nth-child(2) figure a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
}

main section:nth-child(2) figure img { 
    max-width: inherit;
    object-fit: cover;
    max-height: 45em;
    filter: blur(5px);
    -webkit-transition: .3s -webkit-filter ease-in-out;
    -moz-transition: .3s -moz-filter ease-in-out;
    -moz-transition: .3s filter ease-in-out;
    -ms-transition: .3s -ms-filter ease-in-out;
    -o-transition: .3s -o-filter ease-in-out;
    transition: .3s filter ease-in-out, .3s -webkit-filter ease-in-out;
}

main section:nth-child(2) h1, main section:nth-child(2) figcaption {
    position: absolute;
}

main section:nth-child(2) h1 {
    color: #fff;
    font-size: 2.5em;
    z-index: 1;
    padding: 0.5rem;
}

section:nth-child(2) figcaption {
    margin: 1em;
    bottom: 0;
    z-index: 1;
}

section:nth-child(2) figcaption a {
    color: #fff;
}

section:nth-child(2) a:hover::before, section:nth-child(2) a:focus::before {
    background-color: rgba(0,0,0,0);
}

section:nth-child(2) a:hover img, section:nth-child(2) a:focus img {
    filter: blur(0px);
}


/* Chat */
body > section {
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 1em;
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 -2px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateY(24.5em);
    transition: 0.3s ease all;
    z-index: 3;
}

body > section:focus-within {
    transform: translateY(0);
}

body > section a {
    display: block; 
    font-weight: bold;
}

body > section textarea {
    width: 95%;
    padding: 2.5%;
    border: 0;
    background-color: #f0f0f0;
}

body > section ol {
    list-style-type: none;
    padding: 0;
}

body > section ol li {
    background-color: #f0f0f0;
    padding: 1em 0.5em; 
    margin-bottom: 0.5em;
}

body > section ol li p {
    margin: 0;
}

body > section ol li footer {
    font-size: 0.8em;
}

body > section ol li:nth-child(odd) {
    text-align: right;
}

body section label {
    font-weight: bold;
    padding-bottom: 0.5em;
    display: block;
    min-width: 15em;
}